

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*navbar*/

	/* OBSOLETE center the <li>s in the navbar: */

	.navbar .nav,
	.navbar .nav > li {
	    float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	    *zoom:1; /* hasLayout ie7 trigger */
	    vertical-align: top;
	}


	#navbar {
		text-align: center;
	}

/* ---- place navbar at bottom of jumbotron ----*/

	.jumbotron {
		position: relative;
		margin-top: 0;
		height: 400px;
	}

	.jumbotron nav {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 0;
	}
/*----------------------------------------------*/


/* navbar styles */

.navbar li {
	
}

/* jumbotron/header styles */

.jumbotron:first-of-type {
	background: url("../img/box.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 10px;
}

/* contact button styles */

.contact span.glyphicon {
	font-size: 30px;
}

.contact a.btn {
	text-align: left;
	margin-bottom: 10px;
}


/*---WIDGETS!--*/

.instawidget {
	display: none;
}

.insta-sidebar {
	text-align: center;
	display: none;
	/*background-color: #f5f5f5;*/

}

.buffer-zone {
	background-color: red;
}

/*----INTRO-----*/
.intro {
	margin-top: 10px;
}
.intro .thumbnail {
	padding: 7px;
	/*background-color: #ddd;*/
}



/*-----carousel------*/

#myCarousel, #myCarousel2, #myCarousel3  {
   margin-top: 10px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   font-size: 32px;
}

#myCarousel .item, #myCarousel2 .item, #myCarousel3 .item {
   height: 400px;
}

#slide1 {
   background: url(../img/carousel/infield.jpg) center no-repeat;
}
#slide2 {
   background: url(../img/carousel/cereal.jpg) center no-repeat;
}
#slide3 {
   background: url(../img/carousel/muddle.jpg) bottom no-repeat;
}
/*__________carousel 2 items___________*/
#second-slide1{
	background: url(../img/carousel/fridgetams.jpg) center no-repeat;	
}
#second-slide2{
	background: url(../img/carousel/yellow-tams.jpg) center no-repeat;
}

#second-slide3{
	background: url(../img/carousel/gold-tams.jpg) center no-repeat;
}

#third-slide1{
	background: url(../img/carousel/green-pfruit.jpg) center no-repeat;	
}
#third-slide2{
	background: url(../img/carousel/yellow-tams.jpg) center no-repeat;
}

#third-slide3{
	background: url(../img/carousel/gold-tams.jpg) center no-repeat;
}


/* FOOTER */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 325px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 325px;
	margin: 20px 0 0 0;
	background-color: #f5f5f5;
	overflow: hidden;
	
}

footer .container {
	margin-top: 10px;
}

footer ul.social {
	list-style-type: none;
	padding: 0;
	color: white;
}

.footerwidget {

}




/* +++++++ MEDIA QUERIES +++++++++ */

@media only screen and (max-width: 700px){
	
	.jumbotron {
		height: 300px;
	}

}

@media only screen and (max-width: 500px){
	
	.jumbotron {
		height: 200px;
	}

}

/*make sidebar appear*/
@media only screen and (min-width: 1010px){
	
	.insta-sidebar {
		display: block;
	}

	.intro {
		margin-top: 85px;
	}


}

@media only screen and (max-width: 1011px){
	
	.instawidget {
		display: block;
		
	}

	.intro {
		margin-top: 10px;
	}


}














