

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*navbar*/

	/* OBSOLETE center the <li>s in the navbar: */

	.navbar .nav,
	.navbar .nav > li {
	    float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	    *zoom:1; /* hasLayout ie7 trigger */
	    vertical-align: top;
	}


	#navbar {
		text-align: center;
	}

/* ---- place navbar at bottom of jumbotron ----*/

	.jumbotron {
		position: relative;
		margin-top: 0;
		height: 400px;
	}

	.jumbotron nav {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 0;
	}
/*----------------------------------------------*/


/* navbar styles */

.navbar li {
	
}

/* jumbotron/header styles */

.jumbotron {
	background: url("../img/box.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 5px;
}

/* contact styles */

.contact span.glyphicon {
	font-size: 30px;
}

.contact a.btn {
	text-align: left;
}




/* FOOTER */

footer {
	background-color: lightgrey;
	position: absolute;
	bottom: 0;
}


/* +++++++ MEDIA QUERIES +++++++++ */

@media only screen and (max-width: 700px){
	
	.jumbotron {
		height: 300px;
	}

}

@media only screen and (max-width: 500px){
	
	.jumbotron {
		height: 200px;
	}

}














